/*----------------animacion-de-titulo----------*/
.header__title{
  animation: glitch 1s linear infinite;
}
@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg);
  }
}
.header__title:before,
.header__title:after{
  content: attr(title);
  position: absolute;
  left: 0;
}
.header__title:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg);
  }
}
.header__title:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg);
  }
}
/*----------------animacion-de-titulo-end---------*/
/*----------------animacion-de-menu---------*/
.nav__logo-menu {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.nav__logo-menu:hover {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes nav__logo-menu {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes nav__logo-menu {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.nav__logo-menu {
  -webkit-animation-name: nav__logo-menu;
  animation-name: nav__logo-menu;
}
/*----------------animacion-de-menu--end-------*/
/*----------------animacion-de-menu--link-------*/
.nav__link:hover{
  color: #7a7c7ce4;
}
/*----------------animacion-de-menu--end-------*/
/*----------------animacion-de-imagen-card-------*/
.card__img:hover{
  transition: 1s;
  transform: scale(1.1);
  position: relative;
  z-index: 110;
}
/*-------------animacion-de-imagen-card-end------*/
/*----------------animacion-de-boton-card--------*/
.card__btn:hover{
  background: rgba(119, 85, 255, 0.542);
}
.card__btn-from:hover{
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.867);
}
/*----------------animacion-de-boton-card-end-------*/
/*-------------animacion-de-input-card------*/
.card__input:focus{
  outline: none;
}
.card__input:focus + .card__label{
  top: -1rem;
  color: #212529;
  font-size: 1rem;
}
.card__input:focus + .card__label, .card__input:valid + .card__label{
  top: -1rem;
}
/*-------------animacion-de-input-card-end------*/
/*-------------animacion-de-h3-card-------------*/
.card__title--h3:hover{
  text-decoration: underline;
  color: #7a7c7ce4;
}
/*-------------animacion-de-h3-card--end--------*/
/*-------------animacion-de-imagen-footer-------*/
.footer__logo:hover{
  transition: 1s;
  transform: scale(1.5);
}
/*-------------animacion-de-imagen-card-end------*/
