*{
    box-sizing: border-box;
}
body{
    background-color: #212529;
}
/*-----------------HEADER---------------*/
.header{
    width: 100%;
    height: 15rem;
    background: linear-gradient(to top, hsla(176, 74%, 64%, 0.304) 0%, #b490ca 100%), url('../img/img-header.jpg'); /*--img-header--*/
    background-size: cover;
    background-position-y: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header__title{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -0.5rem;
}
.header__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/*-----------------END---------------*/
/*-----------------NAV---------------*/
.nav{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.867);
}
.nav__label{
    display: inherit;
    cursor: pointer;
}
.nav__logo-menu{
    width: 3.5rem;
    height: 3rem;
}
.nav__links, .nav__input{
    display: none;
}
.nav__input:checked + .nav__links{
    display: inherit;
}
.nav__link{
    display: inherit;
    margin: 0 0.65rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transition: 1s;
    align-items: center;
}
/*----------------NAV-END---------------*/
/*-----------------FLEX---------------*/
.flex{
    display: flex;
    flex-flow: column;
    align-items: center;
}
/*-----------------FLEX-END---------------*/
/*-----------------MAIN--------------------------------------------*/
.main{
    flex: 100%;
    display: inherit;
    flex-flow: column nowrap;
    align-items: center;
}
.main--form{
    display: flex;
}
/*-----------------MAIN-CARD-------------------------*/
.card{
    width: 90%;
    display: inherit;
    flex-direction: column;
    border: 1px solid transparent;
    background-color: #212529a6;
    margin-top: 2rem;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(50, 46, 46, 0.388);
    padding: 1.5rem;
    box-shadow: 6px 20px 5px rgb(0 0 0 / 20%);
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
.card__header{
    position: relative;
}
.card__img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.card__fecha{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 2.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 1.1rem;
    border-top-left-radius: 5px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.card__end{
    text-align: center;
}
.card__title{
    font-size: 1.5rem;
    display: block;
    margin: 0.5rem 0;
    padding-bottom: 0.5rem ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.867);
}
.card__btn{
    display: block;
    background: #75F;
    font-weight: bold;
    min-width: 5rem;
    color: #FFF;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin: 2rem 3rem 1rem 3rem;
    padding: 1rem 2.5rem;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
    text-decoration: none;
    box-shadow: 6px 20px 5px rgb(0 0 0 / 20%);
}
/*-----------------MAIN-CARD--END------------------------*/
/*-----------------MAIN-CARD--FORM-----------------------*/
.card--form{
    background-image: url('../img/suscribirse.avif');
    background-size: cover;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}
.card__title--form{
    font-size: 3rem;
}
.card__paragraph--from{
    font-size: 1.5rem;
}
.card__paragraph--from, .card__title--form{
    text-align: center;
    font-weight: 700;
}
.card__estructure{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.867);
    margin: 3rem 0;
    position: relative;
}
.card__color{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-size: cover;
    height: 1rem;
    width: 100%;
    position: absolute;
}
.card__color-top{
    top: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.card__color-bottom{
    bottom: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.card__fielset{
    position: relative;
    margin: 2rem;
}
.card__input{
    background: none;
    display: block;
    border: none;
    border-bottom: 1px solid #212529;
    padding: 0.5rem 0.5rem 0.5rem 0;
}
.card__label{
    position: absolute;
    left: 0;
    top:0.7rem;
    color: #21252988;
    transition: 1s ease-in-out all;
    font-size: 1.2rem;
}
.card__btn-from{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 0.7rem 3rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    border: transparent;
}
/*-----------------MAIN-CARD--FORM-END-----------*/
/*-----------------MAIN-END------------------------------*/
/*-----------------ASIDE-------------------------------*/
.aside{
    flex: 100%;
    justify-content: center;
}
/*-----------------ASIDE-END------------------------------*/
/*-----------------FOOTER---------------*/
.footer{
    margin-top: 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.867);
    width: 100%;
    height: 10rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.footer__row{
    color: #FFF;
    font-size: 1.2rem;
}
.footer__rede{
    text-decoration: none;
    margin: 0 1rem;
}
.footer__logo{
    width: 2rem;
}
/*-----------------FOOTER-END--------------*/
@media screen and (min-width: 768px){
    /*-----------------FLEX-----------------*/
    /*-----------------FLEX--END---------------*/
    /*-----------------MAIN-----------------*/
    .main{
        flex-flow: row wrap;
        align-items: normal;
    }
    /*-----------------MAIN-END----------------*/
    /*-----------------CARD-----------------*/
    .card{
        flex: 40%;
        margin-top:0;
        margin: 1rem;
    }
    .card--aside{
        flex: 100%;
        height: 100vh;
    }
    /*-----------------CARD--END---------------*/
}
@media screen and (min-width: 1024px){
    /*-----------------NAV-MOBILE-----------------*/
    .nav__labels{
        display: none;
    }
    .nav__links{
        display: inherit;
    }
    /*-----------------NAV-MOBILE-END----------------*/
    /*-----------------FLEX-----------------*/
    .flex{
        flex-flow: row wrap;
        align-items: normal;
    }
    /*-----------------FLEX--END---------------*/
    /*-----------------MAIN---------------------------*/
    .main{
        flex-flow: column;
        align-items: center;
        flex: 60%;
    }
    .main:nth-child(1){
        order: 2;
    }
    /*-----------------CARD-----------------*/
    .card{
        flex-direction: row;
    }
    .card--form{
        flex-direction: column;
    }
    .card__header{
        flex: 40%;
        margin-right: 1rem;
    }
    .card__end{
        flex: 70%;
        align-items: center;
        justify-content: center;
    }
    .card__title{
        text-decoration: underline;
        border-bottom: none;
        margin-bottom: 1rem;
    }
    .card__btn{
        margin-top: 3rem;
    }
    /*-----------------ASIDE-----------------*/
    .aside{
        flex:20%;
        justify-content: normal;
    }
    .aside--row1:nth-child(2){
        order: 1;
    }
    .aside--row2:nth-child(3){
        order: 3;
    }
    /*-----------------ASIDE--END---------------*/
    /*-----------------CARD-END--------------*/
    /*-----------------MAIN-END------------------*/
    /*-----------------FOOTER--------------*/
    .footer{
        flex-flow: row;
        justify-content: space-between;
    }
    .footer__title{
        margin-left: 1rem;
    }
    /*-----------------FOOTER-END--------------*/
}